@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --font:"Permanent Marker";
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(243, 165, 243);
    font-family: var(--font);
    color: rgb(38, 0, 128);
}